<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="log/internalLog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<!-- If not already in your app, also ensure NLog.Extensions.Logging is referenced via NuGet -->
	</extensions>

	<targets>
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />

				<!-- OpenTelemetry / Activity identifiers - includeEmptyValue="false" to skip when no activity -->
				<attribute name="traceId" layout="${activity-traceid}${whenEmpty:${mdlc:item=traceId}}" includeEmptyValue="false" />
				<attribute name="spanId"  layout="${activity-spanid}${whenEmpty:${mdlc:item=spanId}}" includeEmptyValue="false" />
				<attribute name="parentSpanId" layout="${activity-parentid}${whenEmpty:${mdlc:item=parentSpanId}}" includeEmptyValue="false" />
				<attribute name="operation" layout="${activity-operationname}" includeEmptyValue="false" />
				<attribute name="traceState" layout="${activity-tracestate}" includeEmptyValue="false" />
				<attribute name="baggage" layout="${activity-baggage}" includeEmptyValue="false" />

				<!-- Keep your event properties as-is -->
				<attribute name="eventProperties" encode="false">
					<layout xsi:type="JsonLayout"
							includeEventProperties="true"
							includeAllProperties="true"
							maxRecursionLimit="2" />
				</attribute>
			</layout>

			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info"  foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn"  foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="*" minlevel="Trace" writeTo="coloredConsole" />
	</rules>
</nlog>